<div class="container timer-container">
      <p id="timer"></p>
</div>
<br>

<div class="container workout-holder">


<ol>
{{#each workouts}}
      
        <li class="workout-list-item">
      <p>Muscle Targeted: {{this.dataValues.minor_muscle}}</p>
       <p id="{{this.dataValues.example}}">Exercise: {{this.dataValues.exercise}}</p>
       <p>Sets: {{this.dataValues.sets}}</p>
       <img id="example-pic" src="{{this.dataValues.example}}">
       
       <p>-----------------------------------------------------------------------------------------------</p>
       </li>
        
      
{{/each}}
</ol>
</div>

<script>
{{!-- This is the script for the timer --}}

var timerCount = {{duration}} * 60000;
var minuteCount = {{duration}} - 1;
var secondCount = 60;
var minutesElapsed = 0;
console.log(timerCount);
alert(`You have {{duration}} minutes to BEAST this workout.  Click Ok when ready`);

var timeInterval = setInterval(function() {
secondCount--;
timerCount--;

$("#timer").text("Time Left: " + minuteCount + " minutes | " + secondCount + " seconds");
if (minuteCount === 0) {
      clearInterval(timerDuration);
      alert("KILLED IT.  Well done.");
}
if (secondCount === 0 || secondCount <0) {
      secondCount = 60;
      minuteCount--;
      minutesElapsed++;
}
if (minutesElapsed === {{timePerExercise}}) {
minutesElapsed = 0;
$(".workout-list-item:first").remove();
}
}, 1000);

</script>
