<div class="container timer-container">
      <p id="timer"></p>
</div>
<br>

<div class="container workout-holder">



{{#each workouts}}
      {{#each this}}
        <ol>
      <p>Muscle Targeted: {{this.dataValues.minor_muscle}}</p>
       <p>Exercise: {{this.dataValues.exercise}}</p>
       <p>Sets: {{this.dataValues.sets}}</p>
       <p>----------</p>
       </ol>
        
      {{/each}}
{{/each}}
</div>

<script>
var timerCount = {{duration}} * 1000;
console.log(timerCount);
alert(`You have {{duration}} minutes to BEAST this workout.  Click Ok when ready`);

var timeInterval = setInterval(function() {
timerCount--;
$("#timer").text("Time Left: " + (timerCount / 1000).toFixed(0) + " minutes");
if (timerCount === 0 || timerCount < 0) {
      clearInterval(timerDuration);
      alert("KILLED IT.  Well done.");
}
}, 1000);

</script>
